#shapeDiv {
	position: relative;
	width: 600px;
	height: 600px;
	background-color: aqua;
	border: 2px solid black;
}

#shapeStatDiv {
	width: 250px;
	height: 600px;
	background-color: rgba(255, 0, 0, 0.2);
	border: 2px solid black;
}
